<div class='rwc-generated-text-container'>
  <span class='rwc-generated-text-label'>
  Generated Text:
  </span>

  <textarea class="form-control rwc-generated-text-text-area" readonly>
</textarea>
</div>
