<nav class='rwc-nav'>
  <a class='rwc-nav-logo rwc-dont-pageload' href='/'>
    ReverseWordCounter.net
  </a>
  <a class='rwc-nav-logo rwc-nav-item rwc-nav-item-mod-align-right rwc-dont-pageload' href='/about'>
    About
  </a>
</nav>
<section class='rwc-hero-content'>

</section>
