<div class="rwc-hero1-content">
  Generate

  <input type='number' class='rwcNumWordsOrLetters form-control rwc-hero-view-form-control' value=200>
  <br>

  <select class='rwcWordsOrLetters form-control rwc-hero-view-form-control'>
    <option value='words'>
      words
    </option>
    <option value='letters'>
      letters
    </option>
  </select>

  from the text

  <select class='rwcFromText form-control rwc-hero-view-form-control'>
    <option value='lorem ipsum'>
      Lorem Ipsum
    </option>
  </select>
  <br>

  <button class='btn btn btn-primary'>Go</button>
</div>
