<!--<div class="rwc-hero1-content">-->
  <!--Generate-->

  <!--<input type='number' class='rwcNumWordsOrLetters form-control rwc-hero-view-form-control' value=200>-->
  <!--<br>-->

  <!--<select class='rwcWordsOrLetters form-control rwc-hero-view-form-control'>-->
    <!--<option value='words'>-->
      <!--words-->
    <!--</option>-->
    <!--<option value='letters'>-->
      <!--letters-->
    <!--</option>-->
  <!--</select>-->

  <!--from the text-->

  <!--<select class='rwcFromText form-control rwc-hero-view-form-control'>-->
    <!--<option value='lorem ipsum'>-->
      <!--Lorem Ipsum-->
    <!--</option>-->
  <!--</select>-->
  <!--<br>-->

  <!--<button class='rwc-hero-go btn btn btn-primary'>Go</button>-->
  <!--<div class='rwc-error-message rwc-error-message-is-hidden rwc-js-error-message alert alert-danger'></div>-->
<!--</div>-->
<div class='rwc-hero-spacing1'></div>
<div class='rwc-hero-text1'>Generate</div>

<div class='rwc-hero-spacing2'></div>
<input type='number' class='rwcNumWordsOrLetters form-control' value=200>

<div class='rwc-hero-spacing3'></div>
<select class='rwcWordsOrLetters form-control rwc-hero-view-form-control'>
  <option value='words'>
    words
  </option>
  <option value='letters'>
    letters
  </option>
</select>

<div class='rwc-hero-spacing4'></div>
<div class='rwc-hero-text2'>from the text</div>

<div class='rwc-hero-spacing5'></div>
<select class='rwcFromText form-control rwc-hero-view-form-control'>
  <option value='lorem ipsum'>
    Lorem Ipsum
  </option>
</select>

<div class='rwc-hero-spacing6'></div>
<button class='rwc-hero-go btn btn btn-primary'>Go</button>

<div class='rwc-hero-spacing7'></div>
<div class='rwc-error-message rwc-error-message-is-hidden rwc-js-error-message alert alert-danger'></div>

<div class='rwc-hero-spacing8'></div>
