<div class='rwc-hero-spacing1'></div>
<h1 class='rwc-hero-text1'>Commercial Real Estate</h1>
<h2 class='rwc-hero-text1'>Serving Lubbock And The Greater Texas Area</h2>

<div class='rwc-hero-spacing2'></div>
<a class='rwc-hero-go rwc-dont-pageload form-control rwc-hero-view-form-control' href="/about">View Properties</a>

<div class='rwc-hero-spacing8'></div>
