<!--http://codepen.io/ajaypatelaj/pen/prHjD-->
<a href="#" class="dropdown-toggle rwc-nav-item-anchor rwc-nav-logo-or-item" data-toggle="dropdown">{{text}} <span class="caret"></span></a>
<ul class="dropdown-menu">
  <div class="rwc-nav-items-stub"></div>
</ul>
