<nav class='rwc-nav'>
  <a class='rwc-nav-logo rwc-nav-logo-or-item rwc-dont-pageload' href='/'>
    CJ Development
  </a>
  <a class='rwc-nav-item rwc-nav-logo-or-item rwc-nav-item-mod-align-right rwc-dont-pageload' href='/about'>
    About
  </a>
</nav>
