<header class="navbar navbar-inverse navbar-fixed-top kmw-navbar-center bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./" class="navbar-brand">The Carrot</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Politics</a>
        </li>
        <li>
          <a href="#">Sports</a>
        </li>
        <li>
          <a href="#">Spirituality</a>
        </li>
        <li class="active">
          <a href="#">Business</a>
        </li>
        <li>
          <a href="#">Other</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
