<nav class='rwc-specific-property-view-nav-stub'></nav>
<section class='rwc-specific-property-view-slider'>
  <div class='rwc-specific-property-view-slider-slide-stub'></div>{{! multiple slides may get injectjed here --}}
</section>
