<nav class='rwc-individual-property-view-nav-stub'></nav>
<section class='rwc-individual-property-view-slider'>
  <div class='rwc-individual-property-view-slider-slide'>your content1</div>
  <div class='rwc-individual-property-view-slider-slide'>your content2</div>
  <div class='rwc-individual-property-view-slider-slide'>your content3</div>
</section>
