<nav class='NAV-STUB'></nav>
<div class="container kmw-font-stuff">
  <div class="row">
    <div class="col-xs-12">
      This website is basically for creating (hopefully funny) fake Facebook articles. Use whatever picture and headline you want, and then share it to Facebook.<br><br>

      Make a headline making fun of your friend for passing out drunk at the party. Prank people with a ridiculous headline. Do whatever you want. Just keep it clean.<br><br>

      Since data shows that 60% of the time when people share articles, they never even clicked on the article before sharing
      it<sup><a href="{{{citationURL}}}" class="kmw-citation" target="_blank">[1]</a></sup>, we feel that a lot of people
      just want to read and comment on a headline, knowing that there is no actual article that they have to spend the time reading.<br><br>

      Like <a target="_blank" class="kmw-our-page" href="https://www.facebook.com/nothingbutheadlines">our Facebook page</a> for much hilarity.<br><br>
      <div class="fb-like kmw-fb-like" data-href="https://www.facebook.com/nothingbutheadlines" data-layout="standard" data-action="like" data-width="320" data-show-faces="true" data-share="false"></div>
      <br>
      Contact us at <a href="mailto:kevinwheeler90@gmail.com">kevinwheeler90@gmail.com</a><br><br>

      For DMCA instructions, <a href="/dmca-instructions"> Click here.</a><br>
      For our privacy policy <a href="/privacy-policy"> Click here.</a><br>
      For terms and conditions, <a href="/terms-and-conditions"> Click here.</a><br>
    </div>
  </div>



</div>

