<div class="diff-dom-wrapper">
  <div class="columns-container num-columns-{{numColumns}}">
    <div class='MOST-RECENT-POPULAR-TOGGLE-STUB'></div>
    {{#each numColumnsArray}}
      <div class="article-column article-column-1-of-{{../numColumns}}">
      </div>
    {{/each}}
  </div>
    <div class="js-article-columns-loading article-columns-loading{{#unless fetchingMoreResults}} kmw-hidden{{/unless}}">
      Loading more results...
    </div>
    <div class="js-article-columns-no-more-results article-columns-no-more-results{{#unless noMoreResults}} kmw-hidden{{/unless}}">
      No More results.
    </div>
</div>
