<div class="container">
  <div class="row">
    {{#each articles}}
      <a href="{{this.articleURL}}">
        <div class="col-xs-12 col-sm-6">
          <img src="{{this.imageURL}}" class="img-responsive">
          <h2 class="kmw-article-{{this._id}}-headline">yea</h2>
          <h3 class="kmw-article-{{this._id}}-subline">sup</h3>
        </div>
      </a>
    {{/each}}
  </div>
  <div style="text-align: center;">
    <button type="button" id="kmw-fetch-more" style="margin-top: 10px; margin-bottom: 30px;">Fetch more results</button>
  </div>
</div>
