<div class="article-card">
  <a class="kmw-dont-pageload" href="{{articleURL}}">
    <div class="">
      <img src="{{imageURL}}" class="article-card-image">
      <h2 class="">{{headline}}</h2>
      <h3 class="">{{subline}}</h3>
    </div>
  </a>
</div>
