<nav class='NAV-STUB'></nav>
<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <div>
        <img class='fourbyfour-image' src='http://www.publicdomainpictures.net/pictures/20000/nahled/man-at-work-21851292079814NxO.jpg'>
      </div>
      <div>
        <h2>Man looks through camera</h2>
        <p>
          He claims to have seen the lochness monster. I like turtles I like liver meow mix meow mix please deliever. I
          like honey butter fart biscuits.
        </p>
      </div>
    </div>
    <div class='col-md-3'>
      yo
    </div>
    <div class='col-md-3'>
      <div class='row'>
        <div class='col-md-12'>
          yo
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          yo
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <div>
        <img class='fourbyfour-image' src='http://www.publicdomainpictures.net/pictures/20000/nahled/man-at-work-21851292079814NxO.jpg'>
      </div>
      <div>
        <h2>Man looks through camera</h2>
        <p>
          He claims to have seen the lochness monster. I like turtles I like liver meow mix meow mix please deliever. I
          like honey butter fart biscuits.
        </p>
      </div>
    </div>
    <div class='col-md-3'>
      yo
    </div>
    <div class='col-md-3'>
      <div class='row'>
        <div class='col-md-12'>
          yo
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          yo
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <div>
        <img class='fourbyfour-image' src='http://www.publicdomainpictures.net/pictures/20000/nahled/man-at-work-21851292079814NxO.jpg'>
      </div>
      <div>
        <h2>Man looks through camera</h2>
        <p>
          He claims to have seen the lochness monster. I like turtles I like liver meow mix meow mix please deliever. I
          like honey butter fart biscuits.
        </p>
      </div>
    </div>
    <div class='col-md-3'>
      yo
    </div>
    <div class='col-md-3'>
      <div class='row'>
        <div class='col-md-12'>
          yo
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          yo
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <div>
        <img class='fourbyfour-image' src='http://www.publicdomainpictures.net/pictures/20000/nahled/man-at-work-21851292079814NxO.jpg'>
      </div>
      <div>
        <h2>Man looks through camera</h2>
        <p>
          He claims to have seen the lochness monster. I like turtles I like liver meow mix meow mix please deliever. I
          like honey butter fart biscuits.
        </p>
      </div>
    </div>
    <div class='col-md-3'>
      yo
    </div>
    <div class='col-md-3'>
      <div class='row'>
        <div class='col-md-12'>
          yo
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          yo
        </div>
      </div>
    </div>
  </div>

</div>
