<div>
  <select class="kmw-most-recent-popular-select">
    <option value="most-popular" selected>Most Popular</option>
    <option value="most-recent">Most Recent</option>
  </select>
  <select class="kmw-time-interval-select">
    <option value="daily">Today</option>
    <option value="weekly">This Week</option>
    <option value="monthly">This Month</option>
    <option value="all_time" selected>All Time</option>
  </select>
</div>
<div>
  Skip ahead <input class="kmw-skip-ahead" type="number" name="quantity" min="1" max="1000" value="0"> headlines.
</div>
