picture select new
<br>
image id:
<!--<input type="number" id="kmw-image-id" name="image_id">-->

<div class="container-fluid">
  <select id="kmw-image-id" name="image_id" class="image-picker kmw-image-picker">
    <option value=""></option>
    {{#each images}}
        <option data-img-src="{{this.url}}" value="{{this._id}}">sup</option>
    {{/each}}
  </select>
</div>
