<nav class='NAV-STUB'></nav>
<form action="/article" id="kmw-article-upload-form" method="post">
  <div id="accordion">
    <h3 id="kmw-picture-tab">1. Choose a picture. </h3>
    <div>
      <a href="#" class="kmw-breadcrumb-main">Main</a> <span class="kmw-arrow kmw-hidden">></span>
      <a href="#" class="kmw-breadcrumb-upload kmw-hidden">Upload Image</a>
      <a href="#" class="kmw-breadcrumb-select kmw-hidden">Select Image</a>

      <div class="kmw-picture-default">
        Would you like to:
        <br>
        <button type="button" id="kmw-choose-upload" class="kmw-choose-upload btn btn-primary">Upload An Image</button>
        <br>
        Or
        <br>
        <button type="button" class="kmw-choose-select btn btn-primary">Select From Our Images</button>
      </div>

      <div class="kmw-picture-upload kmw-hidden">
        {{#if isAdminRoute}}
          In admin Route. Any image uploaded will automatically be featured (assuming you are logged in and an admin).
        {{/if}}
        <!--<input type="hidden" name="feature-image" value="{{#if isAdminRoute}}true{{else}}false{{/if}}">-->
        <label for="kmw-picture-input">Picture</label>
        <input accept="image/*" id="kmw-picture-input" type="file">
        <div id="kmw-loading-wheel" class="kmw-loading-wheel kmw-hidden"></div>
        <input type="checkbox" id="kmw-image-reusable" name="user_allows_image_reuse" checked>
        <label for="kmw-image-reusable">Allow other people to use this image for their headlines too.</label>
      </div>

      <div class="kmw-picture-select kmw-hidden">
        <div class='PICTURE-SELECT-STUB'></div>
      </div>

    </div>
    <h3 id="kmw-headline-tab">2. Choose a headline. </h3>
    <div>
      <label for="kmw-headline-input">Headline</label>
      <input type="text" id="kmw-headline-input" name="headline">
    </div>
    <h3 id="kmw-subline-tab">3. Choose a subline (optional). </h3>
    <div>
      <label for="kmw-subline-input">Subline</label>
      <input type="text" id="kmw-subline-input" name="subline">
    </div>
    <h3 id="kmw-category-tab">4. Choose a category. </h3>
    <div>
      <label for="kmw-category-select">Category</label>
      <select id="kmw-category-select" name="category">
        <option value="" disabled selected>Select a category</option>
        {{#each categories}}
          <li>
            <option value="{{this.otherSlug}}">{{this.prettyName}}</option>
          </li>
        {{/each}}
      </select>
    </div>
    <h3 id="kmw-terms-tab">5. Captcha + Terms and Conditions</h3>
    <div>
      <div class="kmw-recaptcha"></div>
      <div id="kmw-validation-errors" class="kmw-validation-errors kmw-hidden"></div>
      <input type="checkbox" id="kmw-agree" name="agreed_to_terms">I have read and agree to the <a class="kmw-terms" href="/terms-and-conditions">Terms and Conditions</a>.
      <br>
      <input type="submit" value="Submit" id="kmw-submit">
    </div>
  </div>

  <input type="hidden" id="kmw-bypass-recaptcha-secret" name="kmw-bypass-recaptcha-secret" value="">
  <input type="hidden" id="kmw-image-selection-method" name="image_selection_method" value="unchosen">

</form>
