<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= article.headline %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="<%= article.headline %>" />
    <meta property="og:description"   content="<%= article.subline %>" />
    <meta property="og:image"         content="<% article.s3URL %>" />

    <title>The Carrot</title>
  </head>
  <body>
    <div id="content"></div>
    <script>
      window.kmw = {};
      window.kmw.article = <%- JSON.stringify(article) %>;
    </script>
    <script src="/js/main.js" defer></script>
  </body>
</html>
