.columns-container {
  margin-left: -25px;
  margin-right: -25px;
}

.article-column-1-of-1 {
  padding: 25px;
}

.article-column-1-of-2 {
  width: 49%;
  padding: 25px;
}

.article-column-1-of-3 {
  width: 33%;
  padding: 25px;
}

.article-column {
  display: inline-block;
  vertical-align: top;
}

.article-columns-no-more-results {
  text-align: center;
  color: white;
  font-size: 16px;
  padding-bottom: 20px;
  text-shadow: -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, 1px 1px 1px #000, 0 1px 3px rgba(64, 64, 64, 1) !important;
}

.article-columns-no-more-results.kmw-hidden {
  display: none;
}

.article-columns-loading {
  text-align: center;
  color: white;
  padding-bottom: 20px;
  font-size: 16px;
  text-shadow: -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, 1px 1px 1px #000, 0 1px 3px rgba(64, 64, 64, 1) !important;
}

.article-columns-loading.kmw-hidden {
  display: none;
}
