.kmw-landing-copywriting {
  padding: 0 10px 100px 10px;
  margin-top: 50px;
  text-align: justify;
  text-shadow: -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, 1px 1px 1px #000, 0 1px 3px rgba(64, 64, 64, 1) !important;
  color: white;
}

.kmw-citation {
  cursor: pointer;
}

.create-and-share {
  cursor: pointer;
  font-size: 25px;
  font-weight: 800;
  text-decoration: underline;
}

.article-view-article-grid-container {
  padding: 0 10px 0 10px;
}

.kmw-bottom-section {
  background-image: linear-gradient(#fff, #f7f7f7);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 -85px 50px rgba(0,0,0,0.025);
}

.article-other-headlines {
  text-shadow: -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, 1px 1px 1px #000, 0 1px 3px rgba(64, 64, 64, 1) !important;
  color: white;
  font-family: Georgia, serif;
  font-size: 25px;
  font-weight: 800;
  padding-left: 10px;
}

.kmw-article-headline {
  text-shadow: -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, 1px 1px 1px #000, 0 1px 3px rgba(64, 64, 64, 1) !important;
  color: white;
  display: block;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 25px;
  font-weight: 800;
}

.kmw-article-subline {
  text-shadow: -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, 1px 1px 1px #000, 0 1px 3px rgba(64, 64, 64, 1) !important;
  color: white;
  display: block;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.kmw-article-image-and-widgets-wrapper {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.kmw-article-image {
  width: 100%
}

.kmw-spam-flag, .kmw-upvote, .kmw-downvote {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.kmw-upvote.kmw-selected, .kmw-downvote.kmw-selected{
  height: 55px;
  width: 55px;
}


