.kmw-flag-article-done.kmw-hidden {
  display: none;
}

.kmw-captcha-and-submit.kmw-hidden {
  display: none;
}

.kmw-not-finished.kmw-hidden {
  display: none;
}

.kmw-finished.kmw-hidden {
  display: none;
}
