.rwcHeroView
  min-height 100vh
  background linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/static/images/japan-skyline/japan-217878.jpg);
  background-size cover
  background-attachment center
  color white
  display flex
  flex 1 0 auto
  flex-direction column

.rwc-hero-content
  display flex
  flex 1 0 auto
  flex-direction column
  justify-content center

.rwc-home-view-hero-content-view
  display flex
  flex 1 0 auto
  flex-direction column
  justify-content center
  align-items center

.rwc-home-hero-text1
  margin-bottom 10px

.rwc-home-hero-text2
  margin-top 10px
  margin-bottom 10px

.rwc-about-hero-text1, .rwc-home-hero-text1, .rwc-home-hero-text2
  height calc(1em + 18px)
  color rgba(255, 255, 255, .7)
  text-align center

.rwc-hero-cta
  height calc(1em + 18px)
  margin-top 50px
  flex-grow 0
  flex-shrink 0
  text-align center

.rwc-hero-view-form-control
  background rgba(255, 255, 255, .2) !important
  color: white !important
  width 50vw
  max-width 200px
  flex-grow 0
  flex-shrink 0
  flex-basis calc(1em + 18px)
