@import 'normalize'

.kmw-app {
  background-color: #f5f8fa;
  background: url("/images/sky-604411.jpg") fixed;
  overflow-y: scroll;
  height: 100vh;
}

.kmw-spam-flag, .kmw-upvote, .kmw-downvote {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.kmw-upvote.kmw-selected, .kmw-downvote.kmw-selected{
  height: 55px;
  width: 55px;
}

