@import 'normalize'
@import 'zIndexes'
@import 'navExports.styl'

#js-app
  font-size 20px

.slick-next
  right 50px

.slick-prev
  left 50px

.slick-arrow
  z-index slick-arrow-z-index

.slick-list
  margin-bottom 0
  height "calc(100vh - %s)" % nav-collapsed-height

.rwc-specific-property-view
  display flex
  flex 1 1
  flex-direction column
  min-height 100vh

.rwc-specific-property-view-slider
  margin-top -20px; // offset bootstrap nav margin

.rwc-specific-property-view-slider-slide
  height "calc(100vh - %s)" % nav-collapsed-height
  width 100vw
  background linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/static/images/japan-skyline/japan-217878.jpg);

.slick-list
  z-index slick-list-z-index

.rwc-map-view
  height: 100vh

.rwcNumWordsOrLetters
  width 50vw
  max-width 200px
  flex-grow 0
  flex-shrink 0
  flex-basis 40px
