@import 'normalize'

.kmw-app {
  background-color: #f5f8fa;
  background-image: url("/images/sky-604411.jpg");
  //background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5) ), url("/images/sky-604411.jpg");
  //background-image:
  background-attachment: fixed;
  min-height: 100vh;

}
