.recent-popular-toggle {
  color: white;
  font-family: bubblegumSansRegular;
  text-shadow: 0 1px 3px rgba(64, 64, 64, 1);
}

.recent-popular-select {
  text-align-last: center;
  text-align: center;
  text-shadow: 0 1px 3px rgba(64, 64, 64, 1);
  border: none;
  //border-bottom: 1px solid white;
  cursor:pointer;
  text-decoration: underline;
  color: white;
  background-color: transparent;

  -moz-appearance: none;
  -webkit-appearance:none;
}

.kmw-skip-ahead {
  width: 50px;
  -moz-appearance: none;
  -webkit-appearance:none;

  text-align-last: center;
  text-align: center;
  text-shadow: 0 1px 3px rgba(64, 64, 64, 1);
  background-color: transparent;
  border: none;
  //border-bottom: 1px solid white;
  color: white;
  cursor:pointer;
  text-decoration: underline;
}

.recent-popular-option {
  background-color: transparent;
  text-decoration: underline;
}


.kmw-time-interval-select.kmw-hidden{
  visibility:hidden;
}

.kmw-most-recent-popular-toggle{
  padding-left: 10px;
}

.kmw-most-recent-popular-toggle.article-columns-padding {
  padding-left: 35px;
}
