.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
  background-image: none;
  box-shadow: none;
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  //background-color: #f5f8fa;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  //background-color: #f5f8fa;
  background-color: transparent;
}

.nav>li>a:focus, .nav>li>a:hover {
  //background-color: #f5f8fa;
  background-color: transparent;
}

@font-face {
  font-family: bubblegumSansRegular;
  src: url(/fonts/BubblegumSans-Regular.otf);
}

.kmw-nav-item-anchor {
  font-family: bubblegumSansRegular;
  text-shadow: 0 1px 3px rgba(64, 64, 64, 1) !important;
  color: white !important;
  font-size: 20px;
}

li.active > .kmw-nav-item-anchor {
  color: #37fcff !important;
}

li.active a.kmw-nav-item-anchor {
  //background-color: #f5f8fa !important;
  background-color: transparent !important;
}

.navbar-inverse {
  //background-color: #f5f8fa;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
  //background-color: #000;
  //background-color: #f5f8fa;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  //background-color: #fff;
  //background-color: #f5f8fa;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
  //background-color: #bbb;
  //background-color: #f5f8fa;
  background-color: transparent;
}

.kmw-navbar-center .navbar-nav {
  display: inline-block;
  float: none;
}

.kmw-navbar {
  border: none !important;
  padding-top: 20px;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0) ), url("/images/sky-604411.jpg");
}

.kmw-navbar.kmw-navbar-sticky{
  padding-top: 0px;
  transition: padding-top 0.25s ease-in;
}

.kmw-navbar-header {
  height: 58px;
  transform: scaleY(1);
  transition: transform 0.25s ease-in, height 0.25s ease-in;
}

.kmw-navbar-header-sticky {
  transform: scaleY(0);
  height: 0;
  transition: transform 0.25s ease-in, height 0.25s ease-in;
}

.kmw-navbar-center .navbar-header {
  text-align: center;
}

.kmw-navbar-center .navbar-collapse {
  text-align: center;
}

.kmw-navbar-header-center {
  float: none;
  text-align: center;
}

@font-face{
  font-family: "Kingthings Spikeless";
  src: url('/static/fonts/Kingthings Spikeless.ttf')
}

.kmw-navbar-brand {
  color: white !important;
  text-shadow: 0 1px 3px rgba(64, 64, 64, 1) !important;
  float: none;
  font-family: "KingThings Spikeless";
  font-size: 50px;
  line-height: normal;
}

.kmw-nav-hr {
  border-top: 1px solid #aaa
}

.kmw-nav-hr.kmw-nav-hr-sticky {
  margin-top: 0;
  transition: margin-top 0.25s ease-in;
}

desktop-height = 195px;
mobile-height = 120px;

.kmw-nav {
  min-height: desktop-height;
}

.kmw-nav.kmw-nav-mobile {
  min-height: mobile-height;
}
