.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
  background-image: none;
  box-shadow: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #fff;
}

.navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
  background-color: #bbb;
}

.kmw-navbar-center .navbar-nav {
  display: inline-block;
  float: none;
}

.kmw-navbar{
  padding-top: 20px;
}

kmw-navbar-center .navbar-header {
  text-align: center;
}

.kmw-navbar-center .navbar-collapse {
  text-align: center;
}

.kmw-navbar-header-center {
  float: none;
  text-align: center;
}

@font-face{
  font-family: "Kingthings Spikeless";
  src: url('/static/fonts/Kingthings Spikeless.ttf')
}

.kmw-navbar-brand {
  float: none;
  font-family: "KingThings Spikeless";
  font-size: 50px;
  line-height: normal;
}

.kmw-nav-hr {
  border-top: 1px solid #aaa
}

desktop-height = 195px;
mobile-height = 120px;

.kmw-nav {
  min-height: desktop-height;
}

.kmw-nav.kmw-nav-mobile {
  min-height: mobile-height;
}
