.kmw-loading-wheel.kmw-hidden {
  visibility: hidden;
}

.kmw-image-uploading.kmw-hidden {
  display: none;
}

.kmw-loading-wheel {
  height: 60px;
  position: relative;
}

.kmw-terms {
  color: #337ab7 !important;
  text-decoration: underline;
}

.kmw-picture-default {
  text-align: center;
}

.kmw-picture-default.kmw-hidden {
  display: none;
}

.kmw-picture-upload.kmw-hidden {
 display: none;
}

.kmw-picture-select.kmw-hidden {
  display: none;
}

.kmw-breadcrumb-main, .kmw-breadcrumb-upload, .kmw-breadcrumb-select {
  color: #337ab7 !important;
  text-decoration: underline;
}

.kmw-breadcrumb-upload.kmw-hidden {
  display: none;
}

.kmw-breadcrumb-select.kmw-hidden {
  display: none;
}

.kmw-arrow.kmw-hidden {
  display: none;
}

.kmw-headline-input {
  height: 3em;
}

.upload-next-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.center-text {
  text-align: center;
}

.kmw-terms-container {
  display: inline-block;
}

.kmw-terms-text-container {
  margin-top: 10px;
  margin-bottom: 15px;
}

.kmw-accordion {
  margin-bottom: 60px;
}

.kmw-accordion-header {
  text-decoration: underline;
}

.kmw-image-preview {
  width: 100%;
}

.kmw-image-preview.no-image-selected {
  display: none;
}

.kmw-field-description {
  margin-top: 25px;
  margin-bottom: 25px;
}

.kmw-breadcrumb-wrapper {
  margin-top: 25px;
}

.would-you-like {
  margin-top: 25px;
  margin-bottom: 25px;
}

.kmw-or {
  margin-top: 10px;
  margin-bottom: 10px;
}

.kmw-choose-select {
  width: 200px;
  margin-bottom: 25px;
}

.kmw-choose-upload {
  width: 200px;
}

.kmw-headline-label {
  margin-top: 35px;
  margin-bottom: 35px;
}

.kmw-subline-label {
  margin-top: 35px;
  margin-bottom: 35px;
}

.kmw-headline-instructions {
  margin-top: 25px;
}

.kmw-subline-instructions {
  margin-top: 25px;
}

.image-preview-inner-container.no-image-selected {
  padding-top: 100%;
}

.image-preview-inner-container {
  border: 2px dashed #e0e1ff;
  position: relative;
}

.drag-image-text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -9px;
  text-align: center;
}

.kmw-choose-image {
  margin-top: 40px;
  margin-bottom: 10px;
}

.choose-image-or {
  margin-bottom: 10px;
}

.image-preview-outer-container {
  margin-bottom: 30px;
}


.drag-image-text.image-selected {
  display: none;
}

.kmw-recaptcha {
  display: inline-block;
  margin-top: 50px;
}


.kmw-upload-submit {
  margin-bottom: 50px
}

.kmw-agree-checkbox {
  margin-right: 5px !important;
}

.image-drag-area.is-dragover {
  background-color: grey;
}

.kmw-anchor {
  color: #337ab7 !important;
  text-decoration: underline;
}

.left-text {
  text-align: left;
}

.kmw-short-version {
  margin-top: 30px;
  margin-bottom: 60px;
}

.kmw-fb-criteria {
  margin-top: 35px;
}

.upload-image-step-1  {
  margin-top: 80px;
}

.upload-image-step-2  {
  margin-top: 80px;
}

.kmw-image-search-terms {
  margin-top: 20px;
  margin-bottom: 20px;
}
