<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Favicon tags generated from http://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <meta name="ROBOTS" content="NOINDEX" />
  </head>
  <body>
  <pre>
  DMCA Take-Down Notices.  If you are a copyright owner or an agent thereof and believe, in good faith, that any materials provided on the Service infringe upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (see 17 U.S.C 512) (“DMCA”) by sending the following information in writing to the Company’s designated copyright agent at
  Nothing But Headlines DMCA
  4617 92nd St.
  Lubbock, TX 79424

  1. The date of your notification;
  2. A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;
  3. A description of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;
  4. A description of the material that is claimed to be infringing or to be the subject of infringing activity and information sufficient to enable us to locate such work;
  5. Information reasonably sufficient to permit the service provider to contact you, such as an address, telephone number, and/or email address;
  6. A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
  7. A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
  (c) Counter-Notices. If you believe that your User Content that has been removed from the Site is not infringing, or that you have the authorization from the copyright owner, the copyright owner's agent, or pursuant to the law, to post and use the content in your User Content, you may send a counter-notice containing the following information to our copyright agent using the contact information set forth above:
   
  1. Your physical or electronic signature;
  2. A description of the content that has been removed and the location at which the content appeared before it was removed;
  3. A statement that you have a good faith belief that the content was removed as a result of mistake or a misidentification of the content; and
  4. Your name, address, telephone number, and email address, a statement that you consent to the jurisdiction of the federal court in New York and a statement that you will accept service of process from the person who provided notification of the alleged infringement.
  If a counter-notice is received by the Company copyright agent, the Company may send a copy of the counter-notice to the original complaining party informing such person that it may reinstate the removed content in 10 business days.  Unless the copyright owner files an action seeking a court order against the content provider, member or user, the removed content may (in the Company’s discretion) be reinstated on the Site in 10 to 14 business days or more after receipt of the counter-notice.
  </pre>
  </body>
</html>
