<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Create your own article">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create A Headline</title>
  </head>
  <body>
    <div id="content"></div>
    <script>
      window.kmw = {};
      <%#  window.kmw.user = < %- user % > %>
    </script>
    <script src="/js/main.js" defer></script>
  </body>
</html>
