<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Favicon tags generated from http://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <meta name="description" content="A satire news website dedicated to only headlines, where you can create your own headline and share it to Facebook.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="l8HSCDZlTE1k99-AsM-WFffbY7ZI658uaW-I5axgGuE" />
    <title>Nothing But Headlines</title>
  </head>
  <body>
    <div id="content"></div>
    <script>
      window.kmw = {};
      window.kmw.fbAppId = '<%= fbAppId %>';
      window.kmw.imageBaseUrl = '<%- imageBaseUrl %>';
      window.kmw.currentUser = JSON.parse('<%- currentUser %>');
    </script>
    <% include ../partials/fb.ejs %>
    <script src="/js/main.js" defer></script>
  </body>
</html>
